# **Conversion data type**

It possible to change data type within reason. 

first, lets review data type in python. 3 main data type in python is
1.   string = a bunch of character that begin and end with " or '
2.   numeric = a bunch of numeric character without " or ' in the beginning and end. this type of data still can be divided to 3 different type
    *   integer = whole number within range -2,147,483,647 to 2,147,483,647
    *   float = decimal number
    *   complex =number with real component and imaginer component
3.   boolean = consist of True and False statement

second, let's review advanced data type
1. list = an ordered data structure with elements separated by a comma and enclosed within square brackets
2. tuple = a collection which is ordered and unchangeable (immutable).
3. dictionary = Python's dictionaries are kind of hash table type. They work like associative arrays or hashes found in Perl and consist of key-value pairs. A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object
4. set = an abstract data type that can store unique values, without any particular order


these type of data can be change one to another as long it fulfill destination data type requirment.

# string conversion



> integer to string

In [ ]:
str(11)

'11'

In [ ]:
type(str(11))

str

> float to string

In [ ]:
str(28.9)

'28.9'

In [ ]:
type(str(28.9))

str

> complex to string

In [ ]:
str(1+2j)

'(1+2j)'

In [ ]:
type(str(1+2j))

str

> boolean to string

In [ ]:
str(True)

'True'

In [ ]:
type(str(True))

str

we already try for string it possible to change any kinds of main data type to string. any character will categorize to string if got ' or " in the beginning and end characters.

#integer conversion

> string to integer

In [ ]:
int("22")

22

In [ ]:
type(int("22"))

int

In [ ]:
int("22.9")

ValueError: ignored

In [ ]:
int("laso")

ValueError: ignored

In [ ]:
int("21th")

ValueError: ignored

In [ ]:
int("True")

ValueError: ignored

from little expeiment above we can see string to integer data convertion only possible if string contain only integer component. so if we try to give string contain other type such as float,combination numeric and alpahbet, or boolean.

>float to integer

In [ ]:
int(24.9)

24

In [ ]:
type(int(24.9))

int

In [ ]:
int(21.1)

21

In [ ]:
type(int(21.1))

int

from little experiment above we know that float to integer data convertion possible for any kind of float data. 

note : number behind decimal will be discard and won't be rounded like in math

>complex to integer

In [ ]:
int(1+2j)

TypeError: ignored

it is impossible to convert complex to integer

>boolean to integer

In [ ]:
int(True)

1

In [ ]:
type(int(True))

int

In [ ]:
int(False)

0

In [ ]:
type(int(False))

int

from little experiment above, we know that it possible to convert boolean to integer with True equal to 1 and False equal to 0. 0 and 1 is the most basic computing knowledge

so, we can convert some main type data but not all can be integer. type data that eligble to convert is


*   string contain only integer part
*   float with note number behind decimal will be discard not rounded
*   boolean wuth True is 1 ad False is 0

#float conversion

>string to float

In [ ]:
float("22")

22.0

In [ ]:
type(float("22"))

float

In [ ]:
float("23.9")

23.9

In [ ]:
type(float("23.9"))

float

In [ ]:
float("21th")

ValueError: ignored

In [ ]:
float("garden")

ValueError: ignored

In [ ]:
float("2+1j")

ValueError: ignored

In [ ]:
float("True")

ValueError: ignored

it possible to change string to float type data as long as string contain only intger or float type data

>integer to float

In [ ]:
float(22)

22.0

In [ ]:
type(float(22))

float

In [ ]:
float(99)

99.0

In [ ]:
type(float(99))

float

it possible to change any kind of integer data to float data. integer data will be added 0 beind decimal when covert to float.

note : if you covert float to integer and want to change back to float. the discard number behind decimal won't back

>complex to float

In [34]:
float(1+2j)

TypeError: ignored

from little experiment, we know that it is impossible to change complex to float type data

> boolean to float

In [ ]:
float(True)

1.0

In [ ]:
type(float(True))

float

In [ ]:
float(False)

0.0

In [ ]:
type(float(False))

float

from little experiment, we know that it possible to change boolean to float type data. True equal to 1.0 and False equal to 0.0

so, not all type data is eligble to convert as float


*   string can be convert if string contain only integer or float
*   any integer can be convert to float
*   boolea can be convert to float with True as 1.0 and False as 0.0

#complex conversion

>string to complex

In [ ]:
complex("1+4j")

(1+4j)

In [ ]:
type(complex("1+4j"))

complex

In [ ]:
complex("22")

(22+0j)

In [ ]:
type(complex("22"))

complex

In [ ]:
complex("22.14")

(22.14+0j)

In [ ]:
type(complex("22.14"))

complex

In [ ]:
complex("22th")

ValueError: ignored

In [ ]:
complex("kita")

ValueError: ignored

from little experiment, we know that to convert string to complex data string need to be contain only float or integer or complex

>integer to complex

In [ ]:
complex(22)

(22+0j)

In [ ]:
type(complex(22))

complex

from littel experiment, we know that it is possible to change integer to complex data type with its number become real part and form imaginer part will be fill with 0j

>float to complex

In [ ]:
complex(22.9)

(22.9+0j)

In [ ]:
type(complex(22.9))

complex

so, we can change float type data to complex with float data as real component and imainer component wull be equal to 0j

>Boolean to complex

In [ ]:
complex(True)

(1+0j)

In [ ]:
type(complex(True))

complex

In [ ]:
complex(False)

0j

In [ ]:
type(complex(False))

complex

so, we know that boolean type data can be change to complex type data with True as 1 real value and False as 0 real value and for imaginer part same as 0j

so, type data eligble to convert to complex:

* string that contain only numeric type data
* float wiith imaginer part is 0j
* integer with imaginer part is 0j
* boolean with True equal to 1 for real component and 0j for imaginer component and False equal to 0 for ral component and 0j form imaginer component

#Boolean Conversion

>string to boolean

In [ ]:
bool("12")

True

In [ ]:
type(bool("12"))

bool

In [ ]:
bool("0")

True

In [1]:
type(bool("0"))

bool

In [2]:
bool("string")

True

In [3]:
type(bool("string"))

bool

In [8]:
bool("")

False

In [5]:
type(bool(""))

bool

from little experiment above, we know for boolean data convertion aslong there is value will be translate as True value and if there no value will be translate as  False value

>integer to boolean

In [6]:
bool(10)

True

In [9]:
bool(0)

False

In [10]:
bool(1)

True

In [11]:
bool()

False

In [12]:
bool(-2)

True

from little experiment above, we know that integer data when covert to boolean data will translate as True as long as not equal to zero or blank

>float to boolean

In [13]:
bool(0.1)

True

In [14]:
bool(0.0)

False

from little experiment above, we know that float data convert to boolean will convert as True as long as not 0.0 or blank

>complex to boolean

In [15]:
bool(1+3j)

True

In [16]:
bool(0j)

False

complex data will translate as True as long as complex data not same as 0j

so, all data type is eligble to convert to complex type data with spesification:

* string as long there value will be convert to True value if blank value will be convert to False
* integer will be convert as True value as long as not 0 or blank
* float will  be convert as True value as long not 0.0 or blank 
* complex will be convert as True value as ling not 0j or blank

#list conversion

>string to list

In [58]:
list("who knows")

['w', 'h', 'o', ' ', 'k', 'n', 'o', 'w', 's']

In [22]:
list("21th avenue street")

['2',
 '1',
 't',
 'h',
 ' ',
 'a',
 'v',
 'e',
 'n',
 'u',
 'e',
 ' ',
 's',
 't',
 'r',
 'e',
 'e',
 't']

In [23]:
list("2,3,21,31,1,1")

['2', ',', '3', ',', '2', '1', ',', '3', '1', ',', '1', ',', '1']

from little experiment above, we know that every element in the string will make up for every element in list seperated by comma and square bracket to begin and end list

>integer to list

In [25]:
list(2)

TypeError: ignored

In [24]:
list(2,3,13,1)

TypeError: ignored

from little experiment, we know that integer can't be convert to list

>float to list

In [26]:
list(3.7)

TypeError: ignored

from little experiment, we know that float type data can't be convert to list

>complex to list

In [29]:
list(1+2j)

TypeError: ignored

from little experiment above, we know that complex type data can't be convert to list

>tuple to list

In [30]:
list((2,4,1.4,31,"string"))

[2, 4, 1.4, 31, 'string']

>dictionary to list

In [31]:
list({"key":"word",1:"affection",2.1:"special",2.2:"forever"})

['key', 1, 2.1, 2.2]

>set to list

In [32]:
list({2,1,1,9.0})

[1, 2, 9.0]

so, data type eligble for covert to list is:

* string with each element in string is convert to each element that seperated by comma inside square bracket 
* tuple change in parentheses to square bracket
* dictioary only key will be convert to element in list and value will be discard
* set duplicated number will gone first cause set unique characteristic

# tuple conversion

>string to tuple

In [35]:
tuple("halo")

('h', 'a', 'l', 'o')

>integer to tuple

In [36]:
tuple(21)

TypeError: ignored

>float to tuple

In [37]:
tuple(21.9)

TypeError: ignored

>imaginer to tuple

In [38]:
tuple(1+2j)

TypeError: ignored

>boolean to tuple

In [39]:
tuple(True)

TypeError: ignored

>list to tuple

In [40]:
tuple([2,9,1.2,"halo"])

(2, 9, 1.2, 'halo')

>dictionary to tuple

In [59]:
tuple({1:"name",2.1:"address",2.2:"birth place"})

(1, 2.1, 2.2)

>set to tuple

In [42]:
tuple({1,9,9,1.2,"jkl"})

(1.2, 1, 'jkl', 9)

so, data type eligble for covert to tuple is:

* string with each element in string is convert to each element that seperated by comma inside parentheses 
* list change in square bracket to paretheses
* dictioary only key will be convert to element in tuple and value will be discard
* set duplicated number will gone first cause set unique characteristic

#dictionary conversion

>string to dictionary

In [48]:
dict("enchards siegehart")

ValueError: ignored

>integer to dictionary

In [45]:
dict(2)

TypeError: ignored

>float to dictionary

In [49]:
dict(2.1)

TypeError: ignored

>complex to dictionary

In [50]:
dict(1+2j)

TypeError: ignored

>boolean to dictionary

In [51]:
dict(True)

TypeError: ignored

>list to dictionary

In [69]:
dict([[2]])

ValueError: ignored

In [65]:
dict([[2,"who"]])

{2: 'who'}

In [66]:
dict([[2,"who"],[3,"nice to meet you"]])

{2: 'who', 3: 'nice to meet you'}

In [ ]:
dict([[4,5,9],[6,7,9]])

ValueError: ignored

>tuple to dictionary

In [ ]:
dict(((4,5),(6,7)))

{4: 5, 6: 7}

In [60]:
dict((('odd', 3.0),("odd 2",5.0)))

{'odd': 3.0, 'odd 2': 5.0}

In [64]:
dict((('odd', 3.0,7.0),("odd 2",5.0,9.0)))

ValueError: ignored

>set to dictionary

In [63]:
dict({{3,9}})

TypeError: ignored

type data eligble to convert to dictionary:

* list
* tuple

note: to convert sequence data need to be in pair and can't be convert if above or below 2 element

# set conversion

>string to set

In [70]:
set("halo")

{'a', 'h', 'l', 'o'}

In [72]:
set("enchards siegehart")

{' ', 'a', 'c', 'd', 'e', 'g', 'h', 'i', 'n', 'r', 's', 't'}

>integer to set

In [73]:
set(2)

TypeError: ignored

>float to set

In [74]:
set(9.0)

TypeError: ignored

>imaginer to set

In [75]:
set(1+2j)

TypeError: ignored

>boolean to set

In [76]:
set(True)

TypeError: ignored

>list to set

In [77]:
set([2,9,1,1,10,9.8])

{1, 2, 9, 9.8, 10}

>tuple to set

In [78]:
set((3,10,9,1,1,9))

{1, 3, 9, 10}

>dictionary to set

In [79]:
set({1:"hey",2:"halo"})

{1, 2}

so, data type eligble for covert to set is:

* string with each element in string is convert to each element that seperated by comma inside curl bracket with duplicated value discard so only unique value remain
* list convert to set and its square bracket change to curl bracket with its duplicated value discard so only unique value remain
* tuple convert to set and its parentheses change to curl bracketwith its duplicated value discard so only unique value remain
* dictioary only key will be convert to element in set and value will be discard.