# **Conditional Selection and Loop**

## Basic theory
  In programming languages, there is such a thing as selection
conditionals and loops, in a programming process, we
requires a conditional selection and code loop
program, for the same purpose as a programming language
others python also has a programming syntax that is not far away
different from other programming languages, in this module we will
discusses if, if-else, if-elif-else for conditional selection and for
loops are for and while. also in this Module we will
discuss loop control, for more details let's see
My material


## Conditional Structure

##If

Used to test a condition that
we want, how to write the syntax:


---


if kondisi:
statement


---


Condition is a value expression to be compared, if
condition is True then the statement will be executed, and
If the condition evaluates to False then the statement is not
will run.


The program above will determine we will be declared pass
Cumlaude or not from the IP value we have with
condition if the IP value is more than equal to 3.5.

## **if-else**

We can determine what to do if
these conditions are not met by using the keyword
else. The form of writing is:



---
if kondisi :
statement “true”
else :
statement “act"


---
From the two pictures above, the thing that sets them apart is
Graduated with Cumlaude or Passed ordinary, whichever when
the ip variable has a value less than 3.5 it will appear
output "You Passed with an IP of 3.2", but if
ip variable has a value greater than equal to 3.5 then it will be
the output appears "Congratulations You Passed Cumlaude with IP"
By 3.5".

## **If-elif-else**
Apabila kita ingin membuat program lebih dari satu kondisi 
kita bisamenggunakan elif, sintaks penulisannya:


---

if kondisi1:
statement 1“true1”
elif kondisi2:
statement2 “true2”
 else :
 statement


---
The if-elif-else conditional selection is used to check
several conditions. Widely used for a
program with many conditions/conditions. Statement2 will
executed if condition1 is not met and condition2 is met.
If all conditions are not met, the program will
execute the else statement.

In [ ]:
ip = float(input("Enter your IP value"))
if ip >= 3.5:
  print("congrats you passed cumlaude with an ip of", ip)
print("good luck..")

Enter your IP value2.0
semagat terus ya..

In [ ]:
ip = float(input("Enter your IP value"))
if ip >= 3.5:
  print("congrats you passed cumlaude with an ip of", ip)
else:
  print("you pass with an ip of",ip)
print("good luck..")

In [ ]:
ip = float(input("Enter your IP value:"))
if ip < 1.5:
  print("you did not pass")
elif ip < 3.5:
  print("congrats you graduated with an ip of",ip)
else:
  print("Congratulations you passed cum laude with an IP of",ip)
print("good luck..")


## **loop**

Looping data or commonly called looping is
a process that is carried out repeatedly until the limit
which is determined. The loop structure is used for
repeats a set of commands according to the conditions
given. Some examples of loops in Python are:

### **For**

Loop structure commonly used to repeat
a process with a known number of iterations.
This loop statement is the most frequently used. Format
writing is as follows:


---
for …(1) in …(2):

---

explanation:
1 as iterator variable (repeat) and 2 as limit
repetition

In [ ]:
dary=["wake up","eat","repeat","code"]
for item in dary:
  print(dary)
for x in range (4):
  print(x)

['wake up', 'eat', 'repeat', 'code']
['wake up', 'eat', 'repeat', 'code']
['wake up', 'eat', 'repeat', 'code']
['wake up', 'eat', 'repeat', 'code']
0
1
2
3

In [ ]:
for y in range(5):
  print("Good")

Good
Good
Good
Good
Good

In [ ]:
for i in range(3,12,3):
    print(i)

3
6
9

In [ ]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

#**BOOLEAN OPERATOR**

**AND**

AND— Returns True if both statements are true otherwise false
- x AND y will return false if x is false or a function that returns y false.

In [ ]:
X= True
Y= True
X and Y

In [ ]:
Naik_motor = True
Pakai_helm = True
Tidak_membawa_surat =False
Membawa_muatan_berlebih = False
print(Naik_motor and Pakai_helm)

In [ ]:
print(Naik_motor and Tidak_membawa_surat)

if it has the same variable value then the output that comes out will be the same, like the following:


if it has a different variable value then the output that comes out will be opposite to the first variable, as follows

In [ ]:
**OR**

OR—either term (or both) will be in the returned document

x or y, then the value will return true.

In [ ]:
X= True
Y= False
X or Y

In [ ]:
Membuang_sampah_ditempatnya = True
Menjaga_lingkungan = True
Membakar_sampah = False
Membuang_sampah_sembarangan = False

In [ ]:
print(Membuang_sampah_ditempatnya or Menjaga_lingkungan)

In [ ]:
print(Membuang_sampah_ditempatnya or Membakar_sampah)

In [ ]:
print(Membuang_sampah_sembarangan or Membakar_sampah)

**NOT**

- IF X TRUE, THE FUNCTION WILL RETURN FALSE.
- IF Y FALSE, IT WILL RETURN TRUE

In [ ]:
x = 5
not x < 10
False
not callable(x)
True

In [ ]:
X= True
Y= False
not x

In [ ]:
not y

#**Arithmetic operations**

1. operator are special symbols in Python that carry out arithmetic or logical computation
2. operands is The value that the operator operates on
3. expression is a combination of operators and operands that is interpreted to produce some other value

In [ ]:
O=150
P=20
Q=100
R= 3
Q+P+O

270

In [ ]:
"word"+"you"

In [ ]:
12.1+12

In [ ]:
print("you",2)

In [ ]:
[3,90]+[3,17]

In [ ]:
[3,9]+[7]

In [ ]:
(3,90)+(9,2)

In [ ]:
gg ={"key":"value" ,"simple":"desire"}
bb ={"exple":"run"}
if "key" in gg:
    print("this will value",bb)

if "simple" in gg:
    print("this desire")

else:
  print("nothing")

from little experiment above, we know addition can work  for a lot different data type except dictionary and set. addition works different way in different data type
1. addition in string mean merge between string like we see above
2. addition in numeric mean addition in matematic
3. addition in list mean adding another list to other list to become one list
4. addition in tuple mean adding another tuple to other tuple to become one tuple

note: addition only possible between same data type and for numeric case as long same numeric data type it possible to use addition function so it possible to use addition between float,integer and complex

**Subtraction** (-)
- 	P subtracted from Q

#**Sort mathematically in evaluating**

if question :
- 1+1 *0
- 50+8 * 20+10-8/3*7+5^8
- Tips: use parentheses for easy readability and ensure proper order


**Modulus** (%)

*  returns the remainder of dividing two numbers.



**multiplication**

multiplication only possible for some data type and must to be multiplication with integer data type for non numeric combination. if between numeric data type no problem occur. different combination make different output
1. string with integer = repeat string based on integer number
2. numeric data type multiplication = same as matematic multiplication
3. list with integer = repeating sequence based on integer number and make it in one list
4. tuple with integer = repeating sequance based on integer number and make it in one tuple

In [ ]:
Q/P

In [ ]:
P**R

In [ ]:
10//3

In [ ]:
10%3

In [ ]:
1+(1*0)

In [ ]:
(1+1)*0

In [ ]:
50+(8*20)+10-((8/3)*7)+(5**8)

In [ ]:
50+(8*20)+10-8/(3*7)+(5^8)

### **FORMAT STRING**

In [ ]:
a = 23
str(a).zfill(4) #the number 0 there are only two because the specified length is only four

In [ ]:
b = 2.45
str(b).zfill(6)

In [ ]:
c = "Data Science"
str(c).zfill(15)

In [ ]:
"Data Science".ljust(20,"*")

The rjust() method will right align the string, using a specified character (space is default) as the fill character

In [ ]:
"Data Science".rjust(20,"*")

center() method will center align the string, using a specified character (space is default) as the fill character

In [ ]:
"Data Science".center(20,"*")

In [ ]:
a = """I\neat\nwant?""".ljust(20,"*")
print(a)

I
eat
want?*********

In [ ]:
c = """I\n\want?""".center(20,"*")
print(c)

String manipulation using backslash(\\). We can use the backslash character (\) to escape characters that can break the string and make the syntax error.

# input and output

1. input() is one python build in function to reads a line from the input (usually from the user), converts the line into a string by removing the trailing newline, and returns it
2. the output function print() is used to display the result of the program on the screen after execution

> input type data

In [ ]:
b=input()
print(type(b))

input type data will be always string unless convert to other type data

> 4 ways to display data using print function

In [ ]:
a=input("input your name=")
b=22
print("halo %s %i"%(a,b))

In [ ]:
a=input("input your name=")
b=22
print("halo {} umur {} tahun".format(a,b))

In [ ]:
a=input("input your name=")
print(f"halo {a}")

In [ ]:
a=input("input your name=")
print("halo",a)

>display formula as it is

how its output should be

In [ ]:
print("it's a happy day for me. \ntoday, we're going to bioskop to watch newest film")

with r before " we can make \n to come out as output

In [ ]:
print(r"it's a happy day for me. \ntoday, we're going to bioskop to watch newest film")